<{include file="db:smartmedia_header.html"}>

<div id="smartmediaCategoryMain">
	<!--<div id="smartmediaCategoryTitleLink"><{$category.title}></div>-->
	<{if $folder.image_hr_path}>
    	<img id="smartmediaCategoryMainImage" class="main_image" src="<{$folder.image_hr_path}>" align="left" alt="<{$folder.title}>" width="<{$folder.main_image_width}>"/>  
    <{/if}>
    <div id="smartmediaCategoryDescription"><{$folder.description}></div>
    <{if $folder.adminLinks}>
    	<div id="smartmediaAdminLinks"><{$folder.adminLinks}></div>
    <{/if}>       
</div>
<br />
<div style="clear: both"> </div>
<hr />
<div id="smartmediaFolderListHeading"><{$smarty.const._MD_SMEDIA_FOLDER_LIST_TITLE}></div>

<{foreach item=clip from=$clips}>
	<{if $clip.id is div by 2}>
		<div class="smartmediaFolderListRight">
	<{else}>
		<div class="smartmediaFolderListLeft">
	<{/if}>
		<div class="smartmediaFolderTitleLink"><{$clip.itemlink}></div>
		<{if $clip.image_hr_path}> 
    		<a href="<{$clip.itemurl}>"><img class="smartmediaFolderMainImage" src="<{$clip.image_hr_path}>" align="left" alt="<{$clip.title}>" width="<{$clip.list_image_width}>"/></a>
    	<{/if}>
    	<div class="smartmediaFolderSummary"><{$clip.description}></div>
    	<{if $clip.adminLinks}>
	    	<div class="smartmediaAdminLinks"><{$clip.adminLinks}></div>
	    <{/if}>       
	</div>
	<{if $clip.id is div by 2}>
		<br /><br />
		<div style="clear: both;"><hr /></div>
	<{else}>
		
	<{/if}>	
<{/foreach}>



<!--
<table class="folder_single">
  <tr>
    <td class="folder_item">
      <div align="right"><{$navbar}></div>
      <div class="folder_title_link"><{$folder.title}></div>
      <table>
        <tr>
          <td class="folder_description">
			<{if $folder.image_hr_path}>
              <img class="main_image" src="<{$folder.image_hr_path}>" alt="<{$folder.clean_title}>" align="left" width="<{$folder.main_image_width}>"/>
            <{/if}>
            <{$folder.description}>
            <{if $folder.adminLinks}>
              <div class="smartmedia_adminlinks"><{$folder.adminLinks}></div>
            <{/if}>              
          </td>
       </tr>
      </table>
    </td> 
  </tr>
</table>

<table class="clip_list">
  <tr>
    <{foreach item=clip from=$clips}>
    <td class="clip_item">
      <div class="clip_title_list"><{$clip.itemlink}></div>
      <table>
        <tr>
          <td class="clip_description">
            <{if $clip.image_hr_path}>
              <a href="<{$clip.itemurl}>"><img class="main_image" src="<{$clip.image_hr_path}>" align="left" alt="<{$clip.title}>" width="<{$clip.list_image_width}>"/></a>
            <{/if}>
            <{$clip.description}>
            <{if $folder.adminLinks}>
              <div class="smartmedia_adminlinks"><{$clip.adminLinks}></div>
            <{/if}>              
          </td>
       </tr>
      </table>
    </td> 
    <{if $clip.id is div by 2}>
      </tr>
      <tr>
    <{/if}>
    <{/foreach}>
  </tr>
</table>

-->

<{if $navbarbottom==1}>
      <div align="right"><{$navbar}></div>
 <{/if}>
 <!--next line is to include smarttie -->
	<{include file='db:smarttie_links.html'}>
<!--end smarttie -->
<{include file='db:smartmedia_footer.html'}>